/* Font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

/* Colors */

:root {
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
    --instagram:#ff5da0;
    --facebook:#4ac7ec;
    --linkedin:#4ac7ec;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background:aliceblue;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4,h5, h6 {
    margin: 0;
    line-height: 1;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    background: var(--dark);
    padding: 1.6rem 0;
}

nav .inner {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

nav .inner .logo {
    text-transform: uppercase;
    color: azure;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 1000;
}

nav .inner .logo i {
    color: var(--primary);
}

nav .inner button{
    background: var(--primary);
    border: none;
    padding: 0.6rem 1rem;
    color: var(--secondary);
    font-size: 16px;
    border-radius:4px;
}

section.profile {
    background: var(--dark);
    display: flex;
    align-items: center;
    padding: 3rem;
    margin-top: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
    padding-bottom: 5rem;
}

section.profile .left{
   flex: 2;
   display: flex; 
   align-items: center;
}

section.profile .right{
    flex: 1;
}

section.profile .left h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}

section.profile .left p{
    font-size: 14px;
}

section.profile .left .cd-headline.loading-bar .cd-words-wrapper::after{
   background: linear-gradient(to right, blue, green); 
}

section.profile .left p b {
    padding-bottom: 1rem;
    font-weight: 400;
}

section.profile .left img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

section.profile .left .avatar_block{
    position: relative;
    margin-right: 2rem;
}

section.profile .left .avatar_block span{
    position: absolute;
    right: 4px;
    bottom: 4px;
    background: var(--primary);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    box-shadow: 0px 0px 20px 0px rgba(32,41,54,0.05);
    cursor: pointer;
}

section.profile .right ul.contact {
    list-style-type: none;
    margin-bottom: 1.6rem;
}

section.profile .right ul.contact li{
    margin-bottom: .7rem;
    font-size: 14px;
}

section.profile .right ul.contact li i{
    font-size: 18px;
    margin-right: 0.3rem;
}

section.profile .right ul.socials {
    list-style-type: none;
    display: flex;
    align-items: center;
}

section.profile .right ul.socials li{
    margin-right: 0.8rem;
}

section.profile .right ul.socials li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--pure);
    line-height: 36px;
    text-align: center;
}

section.profile .right ul.socials li:nth-child(1) a{
    background: rgb(11, 1, 155);
}

section.profile .right ul.socials li:nth-child(2) a{
    background:var(--instagram);
}

section.profile .right ul.socials li:nth-child(3) a{
    background:var(--secondary);
}

section.profile .right ul.socials li:nth-child(4) a{
    background: rgb(19, 6, 201);
}

.section_heading{
   font-size: 20px;
   font-weight: 500;
   color: var(--dark);
   margin-bottom: 3rem;
   text-shadow: 0 0 1px rgba(40,54,85,0.1); 
   position: relative;
}

.section_heading span{
    font-size: 20px;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 3rem;
    text-shadow: 0 0 1px rgba(40,54,85,0.1); 
}

section{
    padding:3rem;
}

main{
    background: var(--pure);
}

.section_heading::after{
    content: '';
    height: 4px;
    width: 89px;
    position: absolute;
    top: 24px;
    left: 0;
    border: 2px double var(--dark);
}

section.about .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 18rem;
}

section.about .content h2{
    color: var(--dark);
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

section.about .content p{
    color: var(--ternary);
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

section.about .content .left button{
    background:var(--primary);
    color: var(--dark);
    padding: 4px 8px;
    font-size: 12px;
    border: none;
    line-height: 24px;
    outline: none;
    cursor: pointer;
}

section.about .content .left p{
    color: var(--dark);
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: 0.1px;
}

section.about .content .right p{
    line-height: 1.6;
    font-size: 14px;
    color: var(--dark);
    letter-spacing: 0.1px;
    margin-bottom: 1rem;
} 

section.about .content .right p span:nth-child(1){
    width: 130px;
    float: left;
    font-weight: 500;
    padding-right: 10px;
    display:block;
    position: relative;
}

section.about .content .right p span:nth-child(2){
    padding-left: 150px;
    display: block;
}

section.about .content .right p span:nth-child(1):after{
    content: ":";
    position:absolute;   
    right: 0;
    top: 0;
}

section.skills .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

section.skills .content .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.skills .content .left .heading{
    margin-bottom: 2rem;
}

section.skills .content .left .heading i{
    color: var(--dark);
    font-size: 52px;
}

section.skills .content .left .heading h5{
    font-size: 16px;
    margin-top: 0.5rem;
    color: var(--dark);
    letter-spacing: 0.1px;
}

section.skills .content .left p{
    font-size: 16px;
    color: var(--dark);
    line-height:1.7 ;
}

section.skills .content .left p.center{
    color: var(--secondary);
}

section.skills .content .left .item {
    margin-bottom: 2.6rem;
    margin-left: 15px;
    position: relative;
}

section.skills .content .left .timeline_wrapper{
    border-left: 2px dotted var(--primary);
}

section.skills .content .left .item:after{
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 12px;
    height: 12px;
    background: var(--dark);
    /* border: 2px solid var(--dark); */
    border-radius: 50%;
    margin-left: -21px;
    margin-top: -10px;
}

section.skills .skills_wrapper .skill-box{
    color: var(--dark);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
}

section.skills .skills_wrapper .skill-box{
    margin-bottom: 4rem;
}

section.skills .skills_wrapper .skill-box .progress_wrap{
    background: var(--light);
    height: 10px;
    width:100%;
    box-shadow: 0px 0px 1px 0.25px var(--dark);
    border-radius: 10px;
    border: 2px solid var(--light);
}

section.skills .skills_wrapper .skill-box .progress_wrap .progress_bar{
    display: block;
    height: 100%;
    background: var(--primary); 
    width: 0;
    position: relative;
    transition: all 1s ease-in-out;
}

section.skills .skills_wrapper .skill-box .progress_wrap .progress_bar .tooltip{
    position: absolute;
    right: -15px;
    top: -30px;
    margin-bottom: 10px;
    color: var(--dark);
    font-size: 16px;
    text-transform: uppercase;
}

section.counter_section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--dark);
}

section.counter_section > div {
    display: flex;
    align-items: center;
}

section.counter_section > div i{
    font-size: 42px;
    margin-right: 5px;
}

section.counter_section > div:nth-child(1) i{
    color: yellow;
}

section.counter_section > div:nth-child(2) i{
    color: var(--linkedin);
}

section.counter_section > div:nth-child(3) i{
    color: var(--instagram);
}

section.counter_section > div h3 {
    font-size: 22px;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 8px;
}

section.counter_section > div h5 {
    font-size: 13px;
    font-weight: 400;
    color: var(--ternary);
    /* margin-bottom: 8px; */
}

section.work .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap:60px;
}

section.work .wrapper .portfolio .tabs ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

section.work .wrapper .portfolio .tabs ul li a {
    color: var(--dark);
    border-bottom: 1px solid transparent;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
}

section.work .wrapper .portfolio .tabs ul li a.active {
    border-color: var(--primary);
    color: var(--dark);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

section.work .wrapper .portfolio .portfolio_wrapper {
    margin-top: 5rem;
    /* display: grid;
    grid-template-columns: repeat(3,1fr);  */
    display: flex; 
}

section.work .wrapper .portfolio .portfolio_wrapper .item{
    flex: 0 0 32.222222%;
    max-width: 32.22222%;
}

section.work .wrapper .portfolio .portfolio_wrapper a img {
    display: block;
    width: 120%;
    height: 120%;
    object-fit: cover;
}

section.work .wrapper .slider_wrapper .icon_wrap{
    color: var(--primary);
    font-size: 26px;
    text-align: center;
}

section.work .wrapper .slider_wrapper .slider .slide p{
    color: var(--secondary);
    line-height: 1.6;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

section.work .wrapper .slider_wrapper .slider .slide img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}


section.work .wrapper .slider_wrapper .slider .slide h2{
    font-size: 16px;
    color: var(--dark);
    margin-top: 1rem;
}

section.work .wrapper .slider_wrapper .slider .slide h6{
    color: #898989;
    margin-top: 1rem;
}

section.work .wrapper .slider_wrapper .slider .slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.work .wrapper .slider_wrapper{
    overflow: hidden;
}

section.partners {
    background: rgb(215, 243, 250);
}

section.partners .brands_wrapper {
    /* background: var(--dark); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.contact{
    background: var(--pure);
}

section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}

section.contact .card-wrapper .card{
    text-align: center;
}

section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}

section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--dark);
}

section.contact .card-wrapper .card h2{
    color: var(--dark);
}

section.contact .card-wrapper .card i{
    font-size: 80px;
    color: var(--primary);
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--dark);
    font-weight: 400;
    margin-bottom: 4rem;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom:2rem ;
}

section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}

section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
}

section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}

section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}

section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline: none;
}

section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}

.section-heading{
    color:var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading span{
    color: var(--primary);
}

.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato',sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}

.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition:all .3s ease;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition:all .3s;
    -o-transition: all .3s;
}

.btn-primary{
    background: var(--primary);
    color: var(--secondary);
}

.btn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-secondary{
    background:transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary:hover{
    background: var(--primary);
    color: var(--secondary);
}

footer{
    background: var(--dark);
    text-align: center;
    padding: 5rem 0;
}

footer .footer-logo{
    margin-bottom: 3rem;
    align-items: center;
    width: 180px;
}

footer .footer-logo i{
    align-items: center;
}
footer .inner .logo {
    text-transform: uppercase;
    color: azure;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 1000;
}

footer .footer-socials a{
    margin-right: 1rem;
}

footer .footer-socials a img{
    width: 2%;
   height: 1%; 
   padding: 0.4rem;
}

footer .footer-socials{
    margin-bottom:3rem;
    margin-right: -1rem;
}

footer .copyright{
    color: var(--ternary);
}